<p><%= activity.owner.username %> started a new song called
  <%= link_to activity.trackable.name, song_path(activity.trackable) %>

  <span class="text-muted">&nbsp;<%= timeago_tag activity.created_at, force: true %></span>
</p>

<p class="text-muted"><%= activity.trackable.description %></p>
