<h1><%= @user.username %></h1>

<% if @user.songs.any? %>
  <div class="card-columns">
    <% @user.songs.each do |song| %>
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title"><%= link_to song.name, song %></h4>
          <h5 class="card-subtitle mb-2 text-muted"><%= timeago_tag song.created_at, force: true %></h5>
          <p class="card-text"><%= song.description %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No songs yet.</p>
<% end %>
