<h1><%= @user.username %></h1>

<h2>Songs</h2>

<% if @user.songs.any? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Song</th>
      <th>Created</th>
    </tr>
    </thead>
    <tbody>
    <% @user.songs.each do |song| %>
      <tr>
        <td><%= link_to song.name, song %></td>
        <td><%= timeago_tag song.created_at, force: true %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No songs yet.</p>
<% end %>
