<h1><%= @user.username %></h1>

<% if @user.songs.any? %>
  <h2>Songs</h2>
    <% @user.songs.each do |song| %>
      <div class="card mb-2">
        <div class="card-body">
          <h3 class="card-title"><%= link_to song.name, song_path(song) %></h3>
          <p class="card-text"><%= song.description %></p>
        </div>
        <div class="card-footer text-right text-muted">
          <%= timeago_tag song.created_at, force: true %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No songs yet.</p>
<% end %>
